<h1>Your Resume: </h1>
  <ul>
    <li>First Name: <%= @student.first_name %></li>
    <li>Last Name: <%= @student.last_name %></li>
    <li>Email: <%= @student.email %></li>
    <li>Phone Number: <%= @student.phone_number %></li>
    <li>Linkedin URL: <%= @student.linkedin %></li>
    <li>Twitter Handle: <%= @student.twitter_handle %></li>
    <li>Personal Blog/Website URL: <%= @student.website %></li>
    <li>Online Resume URL: <%= @student.resume %></li>
    <li>Github URL: <%= @student.github %></li>
    <li>Photo: <%= @student.photo %></li>
    <li>Created At: <%= @student.created_at %></li>
    <li>Updated Last: <%= @student.updated_at %></li>
      <ul>
        <li>Short Bio: <%= @student.phone_number %></li>
      </ul>
  </ul>