<h1>Your Resume: </h1>
  <ul>
    <li>First Name: <%= @user.first_name %></li>
    <li>Last Name: <%= @user.last_name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Phone Number: <%= @user.phone_number %></li>
    <li>Linkedin URL: <%= @user.linkedin_url %></li>
    <li>Twitter Handle: <%= @user.twitter_handle %></li>
    <li>Personal Blog/Website URL: <%= @user.personal %></li>
    <li>Online Resume URL: <%= @user.online_url %></li>
    <li>Github URL: <%= @user.github_url %></li>
    <li>Photo: <%= @user.photo %></li>
      <ul>
        <li>Short Bio: <%= @user.phone_number %></li>
      </ul>
  </ul>