<!DOCTYPE html>
<html>
  <head>
    <title>StudantPortalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>
    <%= form_tag "/search", class: "navbar-form navbar-left", method: :post do %>
      <div class="form-group">
        <%= label_tag :user_search %>
        <%= text_field_tag :user_search %>
      </div>
      <%= submit_tag "Search CookedLife" %>
    <% end %>
    <%= yield %>
  </body>
</html>
